html {
  font-size: 90%;
  line-height: 1.625;
}

@media(min-width: 768px) {
  html {
    font-size: 100%;
  }
}

@media(min-width: 1024px) {
  html {
    font-size: 110%;
  }
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: "Spectral", Georgia, Times, serif;
  font-kerning: normal;
  word-wrap: break-word;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
}

hr {
  box-sizing: content-box;
  display: block;
  border: 0;
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: center;
}

hr::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 3px;
  background-color: #000;
}
